.product-item {
width: 300px;
border-bottom: 2px solid #F5F5F5;
background: white;
border: 2px solid #dab1fa;
border-radius: 5px;
}
.product-img{
display: block;
width: 70%;
}
.product-title {
font-size: 18px;
font-weight: 600;
} 
.product-list {
width: 230px;
}
.price {
display: inline;
}
.button {
display: inline-block;
}
